[preset.0]

name="Android Debug"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/tiltmerge-debug.apk"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=false
gradle_build/gradle_build_path=""
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86_64=false
architectures/x86=false
version/code=8
version/name="1.0.7"
package/unique_name="com.akarakuts.tiltmerge"
package/name="TiltMerge"
package/signed=true
package/app_category=2
package/retain_data_on_uninstall=false
package/exclude_from_recents=false
launcher_icons/main_192x192=""
launcher_icons/adaptive_foreground_432x432=""
launcher_icons/adaptive_background_432x432=""
graphics/opengl_debug=false
xr_features/xr_mode=0
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
user_data/export_mode=0
permissions/custom_permissions=PackedStringArray()
permissions/access_network_state=false
permissions/access_wifi_state=false
permissions/camera=false
permissions/internet=true
permissions/vibrate=true
permissions/write_external_storage=false
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release=""
keystore/release_user=""
keystore/release_password=""
one_click_deploy/clear_previous_install=false

[preset.1]

name="Android Release"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/tiltmerge-release.aab"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.1.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=true
gradle_build/export_format=0
gradle_build/gradle_build_path=""
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86_64=false
architectures/x86=false
version/code=8
version/name="1.0.7"
package/unique_name="com.akarakuts.tiltmerge"
package/name="TiltMerge"
package/signed=true
package/app_category=2
package/retain_data_on_uninstall=false
package/exclude_from_recents=false
launcher_icons/main_192x192=""
launcher_icons/adaptive_foreground_432x432=""
launcher_icons/adaptive_background_432x432=""
graphics/opengl_debug=false
xr_features/xr_mode=0
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
user_data/export_mode=0
permissions/custom_permissions=PackedStringArray()
permissions/access_network_state=false
permissions/access_wifi_state=false
permissions/camera=false
permissions/internet=true
permissions/vibrate=true
permissions/write_external_storage=false
# Release keystore должен быть предоставлен разработчиком (🧑 HUMAN):
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release=""
keystore/release_user=""
keystore/release_password=""
one_click_deploy/clear_previous_install=false
